h1 {
    font-family: 'Rubik';
}

p {
    font-family: 'Lora';
}

h4 {
    font-family: 'Hind Madurai';
}

.darkteal {
    background-color:#26555c !important;
}

.lightgrey {
    background-color:#d2d9dc !important;
}